[submodule "External/GLFW"]
	path = External/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "External/imgui"]
	path = External/imgui
	url = F:\\git repos\\SingularityEngine\\External\\imgui
[submodule "External/shaderc"]
	path = External/shaderc
	url = https://github.com/xnylhsa/shaderc.git
